
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --preto-principal: #000000;
    --cinza-secundario: #121212;
    --cinza-claro: #242424;
    --verde-principal: #1db954;
    --font-principal: "Nunito";
}

body {
    background-color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
}

.sidebar-navigation {
    background-color: var(--cinza-secundario);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar nav ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 10px 0;

}

.sidebar li {
    padding: 12px;
}

.sidebar nav ul li a {
    color: var(--branco-principal);
    font-size: 16px;
    text-decoration: none;
    font-family: var(--font-principal);
    font-weight: 600;
}


.spotify__logo {
    background: var(--cinza-secundario);
    border-radius: 8px;
    margin-top: 10px;
}

.spotify__logo img {
    width: 100px;
    padding: 12px

}

.biblioteca {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--cinza-secundario);
    border-radius: 8px;
    padding: 16px 0 0 0px;

    font-family: var(--font-principal);
    color: var(--branco-principal);
    font-weight: 500;
    
}

.biblioteca .biblioteca__content {
    display: flex;
    justify-content: space-between;

}

.biblioteca .biblioteca__btn {
    display: flex;
    margin-left: 10px;
    background-color: transparent;
    color: var(--branco-principal);
    border: 0px;
    font-size: 1em;
    font-family: var(--font-principal);
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    cursor: pointer;
    
}

.biblioteca .biblioteca__btn .fa {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 200;
}

.biblioteca .biblioteca__content .fa-plus {
    margin: 24px 24px;
}

.section__playlist {
    display: flex;
    width: 280px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px; /*espaço entre os elementos*/
    background-color: var(--cinza-claro);
    font-size: 17px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 8px;
}

.section__playlist .section__playlist__content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.section__playlist__content span{
    padding-bottom: 10px;
}

.section__playlist__content .text__title {
    font-weight: 700;
    font-family: var(--font-principal);
    color: var(--verde-principal);
}

.section__playlist__content .sub__title {
    font-weight: 400;
    font-size: 13px;
    font-family: var(--font-principal);
}

.section__playlist__content .btn__section_playlist {
    display: flex;
    justify-content: center;
    background-color: var(--verde-principal);
    color: var(--preto-principal);
    border-radius: 20px;
    border: 0;
    font-size: 13px;
    height: 30px;
    font-family: var(--font-principal);
    font-weight: 480;
    text-decoration: none;
    padding: 5px;
    width: 120px;
    margin-top: 15px;
    margin-left: -5px;
}

.sidebar .cookies {
    margin-top: 15px;
    margin-left: 13px;
}

.sidebar .cookies a {
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages {
    margin: 5px;
}

.languages .btn__languages{
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 10px;
    color: var(--branco-principal);
    cursor: pointer;
    align-items: center;
    width: 130px;
    height: 30px;
    margin: 10px 5px;
    
}